# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variables
*.tfvars
!terraform.tfvars.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/

# Java
target/

# Environment
.env